---
import Layout from '../../layouts/Layout.astro';
import Prose from '../../components/Prose.astro';
import { allArticlesSortedByDate } from '../../lib/articles';

// 1. コレクションエントリーごとに新しいパスを生成
export async function getStaticPaths() {
  return allArticlesSortedByDate().map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

// 2. テンプレートでは、プロパティからエントリーを直接取得できる
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout>
  <Prose>
    <p class="block text-gray-700">{entry.data.pubDate.toLocaleDateString("ja-JP", {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
    })}</p>
    <Content />
  </Prose>
</Layout>