---
import Layout from '../layouts/Layout.astro';
import { allArticlesSortedByDate } from '../lib/articles';
---

<Layout title="記事一覧">
	<section>
		<ul>
			{allArticlesSortedByDate().map((article) => <li>
				<p>
					<time datetime={article.frontmatter.pubDate}>{
						new Date(article.frontmatter.pubDate).toLocaleDateString("ja-JP", {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})
					}</time>
				</p>
				<a href={article.url}>{article.frontmatter.title}</a>
			</li>)}
		</ul>
	</section>
</Layout>
