---
import Layout from '../layouts/Layout.astro';
import { allArticlesSortedByDate } from '../lib/articles';
---

<Layout title="記事一覧">
	<section class="w-full p-12">
		<h1 class="mb-6">記事一覧</h1>
		<ul class="flex flex-col gap-12">
			{allArticlesSortedByDate().map((article) => <li>
				<time datetime={article.data.pubDate.toISOString()} class="block text-gray-700">
					{
						new Date(article.data.pubDate).toLocaleDateString("ja-JP", {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})
					}
				</time>
				<a href={`/articles/${article.slug}`}>{article.data.title}</a>
			</li>)}
		</ul>
	</section>
</Layout>
