---
import Layout from '../layouts/Layout.astro';
import { latestArticles } from '../lib/articles';
---

<Layout title="kama2vern.github.io">
	<section class="w-full p-12">
		<ul class="flex flex-col gap-12">
			{latestArticles().map((article) => <li>
				<time datetime={article.data.pubDate.toISOString()} class="block text-gray-700">
					{
						new Date(article.data.pubDate).toLocaleDateString("ja-JP", {
							year: 'numeric',
							month: 'long',
							day: 'numeric',
						})
					}
				</time>
				<a href={`/articles/${article.slug}`}>{article.data.title}</a>
			</li>)}
		</ul>
		<p class="mt-12">
			<a class="before:content-['»_']" href="/articles">すべての記事一覧へ</a>
		</p>
	</section>
</Layout>
