---
---
<footer class="container mx-auto max-w-2xl text-sm leading-loose border-t border-slate-800 px-4 py-12">
    <nav class="flex gap-8 text-slate-900 text-sm underline">
        <a href="/" class="hover:text-rose-400">ホーム</a>
        <a href="/about" class="hover:text-rose-400">このページについて</a>
    </nav>
</footer>