---
---
<footer class="w-full px-12 max-w-2xl text-sm leading-loose">
    <nav>
        <ul class="list-disc ml-4">
            <li>
                <a href="/" class="text-gray-900">ホーム</a>
            </li>
            <li>
                <a href="/about" class="text-gray-900">このページについて</a>
            </li>
        </ul>
    </nav>
</footer>