---
---
<div class="container mx-auto max-w-2xl px-4 py-12">
  <div
    class="prose
    prose-h1:font-bold prose-h1:text-2xl prose-h1:text-slate-700
    prose-h2:text-xl prose-h2:text-slate-700
    prose-a:text-blue-600 prose-a:hover:text-rose-400
    prose-p:text-justify 
    prose-img:rounded-xl
    prose-headings:underline">
    <slot />
  </div>
</div>